<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Fragment>
    <Feature Id="ProductFeature" Title="Artis Admnistrative Tool"  ConfigurableDirectory="INSTALLLOCATION" Level="1">
      <ComponentRef Id="ProductComponent" />
      <ComponentRef Id="ApplicationShortcutAAT" />
    </Feature>
	</Fragment>
</Wix>